<h2>All Recipes</h1>

<ul class="list-group">
<% @recipes.each do |recipe| %>
  <li class="list-group-item justify-content-between">
    <a href =<%= "/recipes/#{recipe.id}"%>><%= recipe.name %></a>
    <span class="btn btn-danger" href=<%="/recipes/delete/#{recipe.id}"%>>Delete</span>
  </li>
<% end %>
</ul>
<a type="button" class="btn btn-primary" href="/new">Create Recipe</a>
