<h1>Add a recipe</h1>
<form action="/recipes" method="POST">
  <div class="form-group">
    <label>Recipe Name</label>
    <input name="name" type="text" class="form-control" placeholder="Enter recipe name">
  </div>
  <div class="form-group">
    <label>Recipe Description</label>
    <input type="textarea" rows="10" class="form-control" name="description"placeholder="Enter recipe description">
  </div>
  <div class="form-group">
    <label>Prep Time</label>
    <input type="number" name="prep_time" class="form-control" placeholder="Enter prep time">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
